<div class="header d-flex justify-content-between">
  <img [src]="logoUrl" alt="logo" class="h-100" />
  <div class="d-flex">
    <div class="d-flex flex-column align-items-end">
      <span>Welcome, {{ user.name }}</span>
      <span *ngIf="investor">{{ investor?.name }}</span>
    </div>
    <div class="d-flex flex-column ms-3">
      <a (click)="changePassword = true" class="link">Change Password</a>
      <a routerLink="/select-investor" *ngIf="investor">Change Investor</a>
    </div>
    <dx-button
      [elementAttr]="{ class: 'logout ms-3' }"
      (onClick)="logout()"
      text="Logout"
    >
    </dx-button>
  </div>
</div>
<app-change-password [(visible)]="changePassword"> </app-change-password>
