@import "../../common/styles.scss";

.select-investor {
  width: 26rem;
  position: relative;
  border: 1px solid #ddd;

  .message {
    position: absolute;
    bottom: 3rem;
    color: $red-color;
  }
}
