<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="forgot-password p-3 d-flex flex-column shadow">
    <img [src]="logoUrl" alt="logo" class="logo w-100 mb-4" />
    <form (submit)="resetPassword($event)">
      <dx-form id="forgotPasswordForm" [formData]="formData" class="w-100">
        <dxi-item itemType="group" caption="Forgot Password">
          <dxi-item
            dataField="username"
            [editorOptions]="{ placeholder: 'User Name or Email' }"
            [label]="{ visible: false }"
          >
            <dxi-validation-rule
              type="required"
              message="User name is required"
            >
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="button" [buttonOptions]="buttonOptions"> </dxi-item>
      </dx-form>
    </form>
    <p class="message">{{ message }}</p>
  </div>
</div>
