@import "../../common/styles.scss";

.forgot-password {
  width: 26rem;
  position: relative;

  .logo {
    height: 6rem;
    border: 1px solid;
  }

  .message {
    position: absolute;
    bottom: 3rem;
    color: $red-color;
  }
}
