<dx-popup
  [width]="550"
  [height]="350"
  title="Change Password"
  [(visible)]="visible"
  (onHidden)="closePopup()"
>
  <div class="popup-body d-flex">
    <div class="change-password pe-3">
      <dx-form id="changePasswordForm" [formData]="formData" class="w-100">
        <dxi-item
          dataField="oldPassword"
          [editorOptions]="{ placeholder: 'Old Password', mode: 'password' }"
          [label]="{ visible: false }"
          cssClass="mb-2"
        >
          <dxi-validation-rule
            type="required"
            message="Please enter old password"
          >
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item
          dataField="newPassword"
          [editorOptions]="{ placeholder: 'New Password', mode: 'password' }"
          [label]="{ visible: false }"
          cssClass="mb-2"
        >
          <dxi-validation-rule
            type="required"
            message="Please enter new password"
          >
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item
          dataField="confirmPassword"
          [editorOptions]="{
            placeholder: 'Confirm Password',
            mode: 'password'
          }"
          [label]="{ visible: false }"
        >
          <dxi-validation-rule
            type="required"
            message="Please confirm new password"
          >
          </dxi-validation-rule>
          <dxi-validation-rule
            type="compare"
            [comparisonTarget]="passwordComparison"
            message="Password do not match"
          >
          </dxi-validation-rule>
        </dxi-item>
      </dx-form>
    </div>
    <div class="ps-3">
      <h5>Email:</h5>
      <p>{{ email }}</p>
    </div>
  </div>
  <dx-button
    [elementAttr]="{ class: 'change-button' }"
    (onClick)="changePassword()"
    text="Change"
  >
  </dx-button>
</dx-popup>
