@import "../../common/styles.scss";

.login {
  width: 26rem;
  position: relative;
  border: 1px solid #ddd;

  .forgot {
    position: absolute;
    right: 1rem;
    top: 8.5rem;
    z-index: 100;
  }

  .show-password {
    position: absolute;
    bottom: 4rem;
  }

  .login-error {
    position: absolute;
    bottom: 5rem;
    color: $red-color;
  }
}
