<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="login p-3 d-flex flex-column shadow">
    <img [src]="logoUrl" alt="logo" class="logo w-100 mb-3" />
    <a routerLink="/forgot-password" class="forgot">Forgot password?</a>
    <form (submit)="handleLogin($event)">
      <dx-form id="loginForm" [formData]="formData" class="w-100">
        <dxi-item itemType="group" caption="Sign in">
          <dxi-item
            dataField="username"
            [editorOptions]="{ placeholder: 'User Name' }"
            [label]="{ visible: false }"
          >
            <dxi-validation-rule
              type="required"
              message="User name is required"
            >
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item></dxi-item>
          <dxi-item
            dataField="password"
            [editorOptions]="{
              mode: showPassword ? 'text' : 'password',
              placeholder: 'Password'
            }"
            [label]="{ visible: false }"
          >
            <dxi-validation-rule type="required" message="Password is required">
            </dxi-validation-rule>
          </dxi-item>
        </dxi-item>
        <dxi-item itemType="button" [buttonOptions]="buttonOptions"> </dxi-item>
      </dx-form>
    </form>
    <p class="login-error">{{ message }}</p>
    <dx-check-box
      [value]="showPassword"
      text="Show Password"
      (onValueChanged)="showPassword = !showPassword"
      [elementAttr]="{ class: 'show-password' }"
    >
      Show Password
    </dx-check-box>
  </div>
</div>
