/* Global Styles */

* {
  font-size: 0.94rem;
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.popup-body {
  height: calc(100% - 3rem);
  overflow: auto;
  margin-bottom: 1.25rem;
}

.dx-popup-title div {
  font-size: 1.25rem;
}

.dx-button-mode-contained {
  border-radius: 0;
  border: 1px solid black;
  color: black;
  &:hover {
    background-color: #9c9ca0;
    border: 1px solid black;
  }
  &:focus,
  &:active {
    background-color: black;
    border: 1px solid black;
    color: white;
  }
}

.dx-texteditor.dx-editor-outlined {
  border-radius: 0;
  border: 1px solid #9c9ca0;
}

.dx-theme-generic-typography a {
  color: #4d4d4d;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

.dx-dropdowneditor.dx-editor-outlined {
  border: 0;
  border-bottom: 1px solid #4d4d4d;
}

.dx-dropdowneditor-button {
  border: 0;
  &:hover,
  &:focus,
  &:active {
    border: 0;
    background-color: white;
  }
}

.dx-popup-wrapper > .dx-overlay-content {
  border: 1px solid black;
  border-radius: 0;
}

.dx-editor-cell {
  visibility: hidden;
}
