<div class="dashboard p-4">
  <dx-file-manager
    id="fileManager"
    [fileSystemProvider]="folders"
    rootFolderName="Dataroom"
    height="100%"
    (onSelectedFileOpened)="handleFileOpen($event)"
    (onCurrentDirectoryChanged)="onFolderClick($event)"
  >
    <dxo-toolbar>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'Investor: ' + investor.name,
          elementAttr: { class: 'investor' }
        }"
      ></dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'Change',
          elementAttr: { class: 'change-investor' },
          onClick: onChangeInvestor
        }"
      ></dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          icon: 'message',
          elementAttr: { class: 'mail-icon' }
        }"
        location="after"
      ></dxi-item>
      <dxi-item name="separator" location="after"></dxi-item>
      <dxi-item
        widget="dxTextBox"
        [options]="{ placeholder: 'Search' }"
        location="after"
      ></dxi-item>
      <dxi-item
        name="dxButton"
        [options]="{ icon: 'search' }"
        location="after"
      ></dxi-item>
    </dxo-toolbar>
  </dx-file-manager>
</div>
<pdf-viewer
  src="
    https://file-examples-com.github.io/uploads/2017/10/file-example_PDF_500_kB.pdf
  "
  [render-text]="true"
  class="doc-viewer"
  [class.d-none]="!fileToOpen.id"
></pdf-viewer>
<app-nda-popup [compliance]="compliance" (agree)="onComplianceAgree($event)">
</app-nda-popup>
