<div class="dashboard p-4">
  <dx-file-manager
    id="fileManager"
    [fileSystemProvider]="folders"
    rootFolderName="Dataroom"
    height="100%"
    (onSelectedFileOpened)="handleFileOpen($event)"
    (onCurrentDirectoryChanged)="handleFolderChange($event)"
    [customizeDetailColumns]="customizeColumns"
  >
    <dxo-toolbar>
      <dxi-item
        *ngIf="isFileOpened"
        widget="dxButton"
        [options]="{ icon: 'arrowleft', onClick: onFileBack }"
      ></dxi-item>
      <dxi-item
        *ngIf="isFileOpened"
        widget="dxButton"
        [options]="{
          text: fileToOpen.name,
          elementAttr: { class: 'file-opened' }
        }"
      ></dxi-item>
      <dxi-item
        *ngIf="isFileOpened"
        widget="dxButton"
        [options]="{
          icon: 'print',
          elementAttr: { class: 'print-icon' },
          onClick: onEmailClick
        }"
        location="after"
      ></dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          icon: 'message',
          elementAttr: { class: 'mail-icon' },
          onClick: onEmailClick
        }"
        location="after"
      ></dxi-item>
      <dxi-item name="separator" location="after"></dxi-item>
      <dxi-item
        widget="dxTextBox"
        [options]="{ placeholder: 'Search' }"
        location="after"
      ></dxi-item>
      <dxi-item
        name="dxButton"
        [options]="{ icon: 'search' }"
        location="after"
      ></dxi-item>
    </dxo-toolbar>
  </dx-file-manager>
</div>
<pdf-viewer
  src="
    https://file-examples-com.github.io/uploads/2017/10/file-example_PDF_500_kB.pdf
  "
  [render-text]="true"
  class="doc-viewer"
  *ngIf="isFileOpened"
></pdf-viewer>
<app-nda-popup
  [compliance]="compliance"
  (agree)="onComplianceAgree()"
  (cancel)="onDisagree()"
>
</app-nda-popup>
<app-form-popup [formInfo]="fileToOpen" *ngIf="fileToOpen.isForm">
</app-form-popup>
<app-email-popup [(visible)]="showEmailPopup"> </app-email-popup>
