<div class="dashboard p-4">
  <dx-file-manager
    id="fileManager"
    [fileSystemProvider]="folders"
    rootFolderName="Dataroom"
    height="100%"
  >
    <dxo-toolbar>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'Investor: ' + investor.name,
          elementAttr: { class: 'investor' }
        }"
      ></dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'Change',
          elementAttr: { class: 'change-investor' }
        }"
      ></dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          icon: 'message',
          elementAttr: { class: 'mail-icon' }
        }"
        location="after"
      ></dxi-item>
      <dxi-item name="separator" location="after"></dxi-item>
      <dxi-item
        widget="dxTextBox"
        [options]="{ placeholder: 'Search' }"
        location="after"
      ></dxi-item>
      <dxi-item
        name="dxButton"
        [options]="{ icon: 'search' }"
        location="after"
      ></dxi-item>
    </dxo-toolbar>
  </dx-file-manager>
</div>
